
.shipping-method-info{
  padding: 24px;
  border: 1px solid #D1D3D6;
  border-radius: 2px;
  margin-top: 16px;
}
.shipping-method-info p{
font-size: 16px;
font-weight: 600;
color: #172026;
margin-bottom: 16px;
}
.shipping-method-info div {
  display: flex;
  justify-content: space-between;
}
.shipping-method-info div {
  display: flex;
  justify-content: space-between;
}
.shiping-info-sub p, .shiping-info-full p {
  color: #535965;
font-size: 16px;
font-weight: normal;
}
.payment-method .Contact-info input {
  border-radius: 8px;
  border: 2px solid #B5B7BC;
  background-color: #FFFFFF;
  height: 44px;
  min-width: 340px;
  margin-top: 8px;
  color: #91959C;
  font-size: 16px;
  padding-top: 13px;
  padding-bottom: 11px;
}
.expirty{
  gap: 32px;
}
.payment-method .expiry #expiry{
  min-width: 240px;
  margin-bottom: 32px;
}
.payment-method .expiry #Cvv{
  min-width: 80px;
  margin-bottom: 32px;

}
.payment-info input {
  min-width: auto;
    height: 16px;
    width: 16px;
    margin-bottom: 16px;
    margin-top: 0px;
}
.payment-method p {
  margin-bottom: 24px;
}
.Contact-info {
  margin-top: 0px;
}
.payment-info {
margin-bottom: 40px;
}
.ctn-review-btn{
  text-align: center;
}
.ctn-review-btn button{
  border: 2px solid #2A65D7;
    height: 44px;
    border-radius: 8px;
    padding: 12px;
    margin: 0 0 40px 0px;
    color: #1363DF;
    background-color: #fff;
    cursor: pointer;
}
